pip>=24.2
ipykernel>=6.29.5
ipython>=8.29.0
jupyter-client>=8.6.3
jupyter-core>=5.7.2
matplotlib-base>=3.9.2
matplotlib-inline>=0.1.7
mdanalysis>=2.7.0
numpy>=1.26.4
packaging>=24.1
pandas>=2.2.3
pyarrow>=17.0.0
scipy>=1.14.1
seaborn>=0.13.2
setuptools>=75.1.0
statsmodels>=0.14.4
typing-extensions>=4.12.2